.input{
    background-color: whitesmoke;
    border: 2px solid rgb(102, 95, 95);
    
    border-radius: 5px;
    padding: 5px;
    


}

.submitButton{

   
    border-radius: 5px;
    padding: 5px;
    color: white;
    border: 2px solid grey;
    background-color: rgb(35, 124, 196);
    transition: all;
    transition-duration: 0.3s;
    
    
}

.submitButton:hover{
    
    scale: 1.03;
    background-color: rgb(26, 104, 168);
}